@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: #1e1e2f;
  color: #ffffff;
  padding: 20px;
  margin: 0;
}
h1, h2 {
  color: white;
  text-align: center;
}
section {
  background-color: #1e1e2f;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  max-width: 800px;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}
i {
  color: white;
  margin-right: 8px; /* spazio tra icona e testo */
  font-size: 1.2em;
}
input,
button {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid #3a3a5c;
  background: transparent;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
input::placeholder {
  color: #3a3a5c; /* Sostituisci con il colore desiderato */
  opacity: 1;     /* Assicura piena opacità, utile per Firefox */
}

button {
  background-color: #f2069b;
}

button:hover {
  background-color: #ff40b6;
}
.performance {
  border: 1px solid #444;
  background-color: #38385a;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
}
.thanks {
  text-align: center;
  font-size: 18px;
  color: #00ffa0;
  display: none;
  animation: fadeOut 2s ease forwards;
}

/* Animazioni */
.fade-in {
  animation: fadeIn 1s ease;
}
.slide-up {
  animation: slideUp 0.8s ease;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes slideUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; display: none; }
}
